.taskButtonContainer {
  display: flex;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background-color: rgb(227, 181, 122);
  align-items: center;
  justify-content: center;
}

.taskButtonLeftContainer {
  display: flex;
  width: 60%;
  height: auto;
  align-items: center;
  justify-content: start;
}

.taskButtonLeftSubContainer {
  display: flex;
  /* width: 60%; */
  height: auto;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.taskButtonImgContainer {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  border-radius: 50px;
  margin: 0px 10px;
  align-items: center;
  justify-content: center;
}

.taskButtonImg {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.taskButtonLeftTitleContainer {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.taskButtonTitlebox {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.taskButtonTitle {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: black; 
  align-items: center;
  justify-content: center;
}

.taskButtonLeftTitle {
  display: flex; 
  font-size: 16px;
  color: black;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.taskButtonLeftSubTitle {
  display: flex; 
  height: 20px;
  color: rgb(59, 57, 57);
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.taskButtonRightContainer {
  display: flex;
  width: 40%;
  height: auto;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
}

.taskButtonRightTitleContainer {
  display: flex;
  /* width: 90px; */
  height: 50px; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.taskButtonRightTitle {
  display: flex; 
  color: black;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.taskButtonRightSubTitle {
  display: flex; 
  color: rgb(59, 57, 57);
  font-size: 14px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.taskButtonInviteContainer {
  display: flex;
  width: 75px;
  height: 35px;
  background-color: rgb(254 213 24);
  color: #38312b;
  border: 1px solid rgb(254 226 41);
  font-weight: 600;
  margin-right: 15px;
  border-radius: 23px;
  align-items: center;
  justify-content: center;
}

.taskButtonInviteTitle {
  display: flex;
  width: 100px;
  height: auto;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.taskButtonArrowContainer {
  display: flex;
  width: auto;
  height: 40px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.taskButtonArrow {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
