
.taskBoxContainer  {
  display: flex;
  width: 95%; 
  align-items: center; 
  flex-direction: row; 
  background-color: antiquewhite;
  border-radius: 25px; 
  margin-top: 10px;
}

.taskBoxNumberContainer   {
  display: flex; 
  width: 35px;
  height: 35px;
  align-items: start; 
  justify-content: center;
  box-sizing: border-box;
}

.taskBoxTitleContainer   {
  display: flex; 
  width: 79%;
  height: 100%;
  align-items: center; 
  box-sizing: border-box;
  padding-top: 10px;
}

.taskBoxArrowContainer   {
  display: flex;
  width: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.taskBoxNumber {
  display: flex; 
  width: 25px;
  height: 25px;
  align-items: center; 
  justify-content: center;
  background-color: burlywood;
  border-radius: 50%;
  box-sizing: border-box; 
}

.taskBoxTitle   {
  width: 100%;
  height: 100%;
  color: rgb(51, 45, 45);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  padding: 10px;
}

.taskBoxNumberTitle { 
  display: flex;
  align-items: center;  
  justify-content: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
}
 