.JoinButtonContainer {
  display: flex;
  width: 100px;
  height: 40px;
  background-color:#2c2e3e;
  border-radius: 25px;
  margin-right: 10px;
  align-items: center;
  justify-content: center; 
  color: white;
}

.joinimg {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.JoinButtonTitle {
  display: flex;
  width: 40px;
  height: auto;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}