 

.switchButtonContainer {
  display: flex;
  width: 48%;
  height: 30px; 
  border-radius: 23px;
  align-items: center;
  justify-content: center; 
}

.switchButtonTitle {
  display: flex;
  color: #312a24;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  justify-content: center;  
  margin: 0px 10px;
}

.switchButtonTimerContainer {
  display: flex; 
  height: 20px; 
  border-radius: 23px;
  background-color: #ffca2b;
  align-items: center;
  justify-content: center; 
}

.switchButtontime  {
  display: flex;
  color: #312a24;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  justify-content: center;  
  padding: 0px 10px;
}
 